@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model CommentDetailsViewModel

<div class="container p-4">
    <h3>Category details</h3>
    <hr/>
    <div class="row">
        <p><b>Post:</b> @Model.Post</p>
    </div>
    <div class="row">
        <p><b>Id:</b> @Model.Id</p>
    </div>
    <div class="row">
        <p><b>Name:</b> @Model.Name</p>
    </div>
    <div class="row">
        <p><b>Username:</b> @Model.Email</p>
    </div>
    <div class="row">
        <p><b>Description:</b> @Html.Raw(Model.CommentText)</p>
    </div>
    <div class="row">
        <p><b>Comment time:</b> @Model.CommentTime.FriendlyFormat()</p>
    </div>
    <div class="row">
        <a type="button" class="btn btn-warning" href="/Admin/Comment/Edit/@Model.Id" style="width: 75px;">Edit</a>
        <a type="button" class="btn btn-secondary ms-1" href="/Admin/Comment" style="width: 75px;">Back</a>
    </div>
</div>
