@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model TagToUpdateViewModel

<form class="row-cols-12" style="padding: 24px;" action="/Admin/Tag/Edit" method="post" role="form">
    <input type="text" asp-for="Id" tabindex="1" class="form-control" value="@Model.Id" hidden />
    <h2 class="pb-2">Update tag</h2>
    <div class="mb-3">
        <label for="Name">
            <b>Name</b>
        </label>
        <input type="text" asp-for="Name" tabindex="2" class="form-control" placeholder="Name" value="@(Model!=null?Model.Name:null)" oninput="document.getElementById('update-success-message').innerHTML=''" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="UrlSlug">
            <b>Slug</b>
        </label>
        <input type="text" asp-for="UrlSlug" tabindex="3" class="form-control" placeholder="Slug" value="@(Model!=null?Model.UrlSlug:null)" oninput="document.getElementById('update-success-message').innerHTML=''">
        <span asp-validation-for="UrlSlug" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Description">
            <b>Description</b>
        </label>
        <textarea asp-for="Description" tabindex="4" class="form-control" placeholder="Description" value="@(Model!=null?Model.Description:null)" rows="10" oninput="document.getElementById('update-success-message').innerHTML=''"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/Admin/Tag" class="btn btn-secondary">Cancel</a>
    @if (ViewBag.Message != null)
    {
        <h2 class="text-success pt-3" id="update-success-message">@ViewBag.Message</h2>
    }

</form>